:root {
  --bs-studio-primary: #ff5500;
  --bs-studio-primary-hover: #db4300;
  --bs-studio-primary-active: #bb3d00;
}

.btn-primary {
  --bs-btn-bg: var(--bs-studio-primary);
  --bs-btn-border-color: var(--bs-studio-primary);
  --bs-btn-hover-bg: var(--bs-studio-primary-hover);
  --bs-btn-hover-border-color: var(--bs-studio-primary-hover);
  --bs-btn-active-bg: var(--bs-studio-primary-active);
  --bs-btn-active-border-color: var(--bs-studio-primary-active);
  --bs-btn-disabled-bg: var(--bs-studio-primary);
  --bs-btn-disabled-border-color: var(--bs-studio-primary);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}